extends layout

block content
	meta(name='viewport', content='width=device-width', initial-scale='1.0')
	- uniList = []
	each val in jsonx
		li
			p #{val.value.Organizer}
			p #{val.value.Location}
			p #{val.value.Time}
			p #{val.value.Description}
			p #{val.value.Uni}
			
	div
		h2 Insert new Event
		form(action='/registerEvent',method='post',id="registerEvent")
			input(id='Uni', type='hidden', value='#{jsonx[0].value.Uni}',name='Uni')
			p Location
			input(id='Location',type='text',value='Location',name='Location')
			p Time
			input(id='Time',type='text',value='Time',name='Time')
			p Organizer
			input(id='Organizer',type='text',value='Organizer',name='Organizer')
			p Description
			input(id='Description',type='text',value='Description',name='Description')
			<!---p Picture-->
			<!--input(id='Picture', type='file', name='Picture')-->
			input(type='submit',value='Register Event')
	
	script(type='text/javascript').
		<!---$("#registerEvent").submit(function(event) {
			alert("lol");
			event.preventDefault(); // Stops browser from navigating away from page
			var data;
			alert("lol");
			// build a json object or do something with the form, store in data
			$.post('/registerEvent', data, function(resp) {
				alert(resp);
				// do something when it was successful
			});
		});-->